<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.renwoxing"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.example.renwoxing.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="vdQYG0u1z5Dagb12qKVpnvkn0lthtaxi" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <activity
            android:name="com.example.renwoxing.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.renwoxing.LocationActivity"
            android:label="@string/title_activity_location" >
        </activity>
        <activity
            android:name="com.example.renwoxing.MyLocation"
            android:label="@string/title_activity_my_location" >
        </activity>
        <activity
            android:name="com.example.renwoxing.ShowMyLocation"
            android:label="@string/title_activity_show_my_location" >
        </activity>
        <activity
            android:name="com.example.renwoxing.LineActivity"
            android:label="@string/title_activity_line" >
        </activity>
        <activity
            android:name="com.example.renwoxing.GeoCoderActivity"
            android:label="@string/title_activity_geo_coder" >
        </activity>
        <activity
            android:name="com.example.renwoxing.GeoCoder4Activity"
            android:label="@string/title_activity_geo_coder4" >
        </activity>
        <activity
            android:name="com.example.renwoxing.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name="com.example.renwoxing.MarkerOverlayActivity"
            android:label="@string/title_activity_marker_overlay" >
        </activity>
        <activity
            android:name="com.example.renwoxing.OverlayDemo"
            android:label="@string/title_activity_overlay_demo" >
        </activity>
        <activity
            android:name="com.example.renwoxing.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
    </application>

</manifest>
